
 .main-header {
    background-color: #007bff;
   color:rgb(218, 186, 186);
    padding: 15px 20px;
    display: flex;
    align-items: right;
    position: sticky;
    top: 0;
}
.college-name {
    font-size: 1.8em;
    font-weight: 700;
    
}
.first-nav {
    display: flex;
    gap: 25px;
    align-items: center;
}
nav{
    unicode-bidi: isolate;
   
}
.second-nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 100%;
    background-color: #eff0ef;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}